/* div {
    border: 2px dotted red
} */

body {
    background-image: url('https://i.imgur.com/4XkO7AX.jpeg');
    background-size: cover;
    background-color: lightskyblue;
}

.centerMe {
    /* padding: 400px;     should move it down, but needs to be inside another div. Do later */
    background-color: whitesmoke;
    margin: auto;   
    width: 30%;
    border: 5px solid black;
    padding: 15px;
}

#screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

#UI{
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
}

#userAndSearchOnTop{
    margin: 10px;
    padding: 15px;
    display: inline-flex;
    /* border: 2px dotted green; */
}

#userInformation{
    background-color: whitesmoke;
    width: 50%;
    margin: 15px;
    border: 2px solid black;
}

#searchBar{
    background-color: whitesmoke;
    width: 50%;
    margin: 15px;
    border: 2px solid black;
}

#thingDisplays{
    /* background-color: whitesmoke; */
    margin: 10px;
    padding: 15px;
    display: inline-flex;
    /* border: 2px dotted blue; */
}

#myThings{
    background-color: whitesmoke;
    width: 50%;
    padding: 15px;
    margin: 15px;
    /* border: 2px dotted orange; */
    border: 2px solid black;
}

/* #searchThings:hover{
    width: 80%;
} */

#searchThings{
    background-color: whitesmoke;
    width: 50%;
    padding: 15px;
    margin: 15px;
    /* border: 2px dotted green; */
    border: 2px solid black;
}

/* #searchThings:hover{
    width: 90%;
} */

.Thing {
    border: 2px solid black;
    margin: 5px;
}