#splitscreen-feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    overflow:hidden;
}

#splitscreen-feed .card-container {
    grid-column: 1;
}

#splitscreen-feed #mapdiv {
    grid-column: 2;
    height: 500px;
    overflow-y: visible;
}

.card-container {
    overflow-y: scroll;
}