/* #create-item {
/* :root {
    --form-width: 20vw;
} */

/* #create-item-form {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
} */ 
.flexContainer{
    border: 1px single #d58258;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#header{
    
}

.profileContainer{
    border: 2px double #963a2f;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profileDivs {
    /* padding: 400px;     should move it down, but needs to be inside another div. Do later */
    background-color: #a3c0ba;
    margin: auto;   
    /* width: 30%; */
    /* border: 3px solid #963a2f; */
    display: grid;
    
    column-gap: 20px;
    row-gap: 40px;
    border: 1px solid #718e88;
    padding: 15px;
    margin-top: 10%;
    max-width: 40%;
    
}
    

.dropdown-field {
    text-align: center;
    width: calc(var(--form-width)*0.815);
    background-color: #718e88;
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px ;
    box-shadow:inset 0 0 5px #718e88;
    font-family: 'Quicksand', sans-serif;
    color: #6d584f;
}

#category{
    text-align: center;
}

/* #create-item-form input {
    width: calc(var(--form-width)*0.8);
    height: 25px;
    background-color: beige;
    border-style: none;
} */

.inputField {
    text-align: center;
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px ;
    box-shadow:inset 0 0 5px #718e88;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    color: #6d584f;
}


.icon-button {
    --button-size: calc(var(--form-width)*.1);
    width: var(--button-size);
    height: var(--button-size);
    padding: 5px;
    display: flex;
}

#dropdown-popup {
    position: absolute;
    top: 58px;
    width: 500px;
    transform:translateX(-45%);
    background-color: white;
    border: grey;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
}

#dropdown-item:hover {
    cursor: pointer;
    background-color: #bad1b7;
}